.top-controls {
  text-align: right;
  margin-bottom: 1rem;
}

.no-users {
  text-align: center;
  font-weight: bold;
}

mat-cell:not(.mat-column-actions) {
  overflow-x: auto;
}

.mat-column-email {
  flex: 0 0 25%;
}

.mat-column-actions {
  justify-content: center;
}
