.top-controls {
  text-align: right;
  margin-bottom: 1rem;
}

.no-users {
  text-align: center;
  font-weight: bold;
}

.mat-column-email {
  flex: 0 0 25%;
}

.mat-column-actions {
  flex: 0 0 15%;
  justify-content: center;
}
